.sheet-container {
  height: 100%;
  width: 100%;
  position: relative;

  .sheet-filter {
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding: 0px;
    display: flex;
    align-items: center;
  }

  .sheet-body {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: calc(100% - 135px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .sheet-footer {
    position: absolute;
    bottom: 18px;
    background-color: #fff;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
