.flow-container {
  height: 100%;
  width: 100%;
  position: relative;

  .flow-head-statistics-info {
    height: 150px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 16px;

    &-title {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.9);
      line-height: 20px;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .flow-head-statistics-info-box {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 150px;

      .flow-head-statistics-info-item {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 160px;
      }
    }
  }

  .flow-filter {
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding: 0px;
    display: flex;
    align-items: center;

    .flow-fliter-item {
      margin-bottom: 0;
      margin: 0 10px;
    }

    .flow-fliter-action {
      height: 28px;
    }

    .flow-fliter-status {
      width: 200px;
    }

    .flow-fliter-search {
      margin-left: 16px;
      width: 300px;
      height: 28px;
    }

    .flow-fliter-picker {
      margin-left: 20px;
      height: 28px;
    }

    .flow-fliter-btn {
      position: absolute;
      right: 16px;
      top: 5px;
      height: 28px;
    }
  }

  .flow-body {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: calc(100% - 310px);
    overflow-y: scroll;
    overflow-x: hidden;

    .flow-body-table-action-editor {
      margin-right: 10px;
    }

    .flow-table-group {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .flow-footer {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    height: 52px;
    border-radius: 8px;

    &-action {
      position: absolute;
      left: 16px;
      top: 5px;

      button {
        height: 28px;
      }
    }

    &-page {
      position: absolute;
      right: 16px;
      top: 7px;
    }
  }
}
