.project-container {
  height: 100%;
  width: 100%;
  position: relative;

  .project-head-statistics-info {
    height: 150px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 16px;

    &-title {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.9);
      line-height: 20px;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .project-head-statistics-info-box {
      display: flex;
      justify-content: space-around;
      height: 120px;

      .project-head-statistics-info-item {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 30%;
        border-radius: 8px;

        .ant-form-item {
          margin: auto !important;
          height: 40px;
          line-height: 50px;
          background-color: random-color() !important;
        }
      }

      .project-head-statistics-info-item-count {
        display: flex;
        align-items: center;

        .ant-form-item-label {
          font-weight: 500;
        }
      }
    }
  }

  .project-filter {
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;

    &-picker {
      margin-left: 16px;
    }

    .project-filter-item {
      margin-left: 16px;
    }

    .project-fliter-search {
      width: 300px;
      height: 28px;
    }

    .project-fliter-add-btn {
      position: absolute;
      right: 16px;
      top: 5px;
      height: 28px;
    }

    // .project-head-statistics-info-box {
    //   display: flex;
    //   justify-content: space-around;
    //   flex-direction: column;
    //   height: 150px;

    //   .project-head-statistics-info-item {
    //     display: flex;
    //     justify-content: space-around;
    //     width: 100%;
    //     height: 160px;
    //   }
    // }
  }

  .project-body {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: calc(100% - 310px);
    overflow-y: scroll;
    overflow-x: hidden;

    .project-body-table-action-editor {
      margin-right: 10px;
    }
  }

  .project-footer {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    height: 52px;
    border-radius: 8px;

    &-action {
      position: absolute;
      left: 16px;
      top: 5px;

      button {
        height: 28px;
      }
    }

    &-page {
      position: absolute;
      right: 16px;
      top: 7px;
    }
  }
}
