.client-container {
  height: 100%;
  width: 100%;
  position: relative;

  .client-filter {
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;

    .client-fliter-search {
      width: 400px;
      height: 28px;
      margin-left: 16px;
    }

    .client-fliter-add-btn {
      position: absolute;
      right: 16px;
      top: 5px;
      height: 28px;
    }
  }

  .client-body {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: calc(100% - 115px);
    overflow-y: scroll;
    overflow-x: hidden;

    .client-body-table-action-editor {
      margin-right: 10px;
    }
  }

  .client-footer {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    height: 52px;
    border-radius: 8px;

    &-page {
      position: absolute;
      right: 16px;
      top: 7px;
    }
  }
}
